html {
  height:100%;}

body {
  background: linear-gradient(60deg, #f3f7fb 50%, transparent 50.02%), linear-gradient(153deg, #eff5fa 30%, transparent 30.02%), linear-gradient(180deg, transparent 50%, #e7eff7 50%), linear-gradient(90deg, #e7eff7 50%, transparent 50%), #f3f7fb;
  background-size: auto, auto, 4px 4px, 4px 4px;
  display: flex;
  margin: 0;
  min-height:100%;}

#gear {
  margin: auto;
  overflow: hidden;
  width:350px;}

#gear svg {
  animation: rotate 1s linear infinite;
  height:350px;}


@keyframes rotate {
    0% { transform:rotate(0deg);}
  100% { transform:rotate(60deg);}
}
