body {
   color: #475156;
   background-color: #f7f7f7;
   font-family: 'Muli', Helvetica, sans-serif;
   margin: 0;}

h1 {
   background-color: #FFF;
   border-bottom: 2px solid #fea66e;
   margin: 0;
   padding: 10px 20px;}

nav {
   background: linear-gradient(90deg, #efefef 15px, #f4f4f4 15px, #f4f4f4 30px);
   background-size: 30px 30px;
   color: #c0ccd2;
   padding: 4px 16px;}

nav a {
   color: #6e94a7;
   text-decoration: none;}

nav a:hover {
   color: #ffba8f;}

section {
   border-bottom: 1px solid #efefef;
   margin: 0 auto;
   max-width: 1500px;
   padding: 0 20px 5px 20px;}


/* Project Modals */

body .modal_active {
  display:flex;}

.overlay_up {
  overflow: hidden;}

.modal_overlay {
  background: repeating-linear-gradient(135deg, rgba(24,31,39,0.6), rgba(24,31,39,0.6) 35px, rgba(32,40,48,0.6) 35px, rgba(32,40,48,0.6) 70px);
  display: none;
  position: fixed;
  top:0; right:0; bottom:0; left:0;
  z-index: 2;}
  
.modal {
  background-color: white;
  border-radius: 8px;
  margin: auto;
  position: relative;
  height:500px; /*width:400px;*/ width:820px;}

.modal_x {
  border-radius: 15px;
  cursor: pointer;
  display: block;
  font-size: 30px;
  line-height: 30px;
  position: absolute;
  top:7px; right:7px;
  text-align: center;
  transition: .2s;
  height:30px; width:30px;}

.modal_x:hover {
  opacity: .5;}

.modal_title {
  font-size: 16pt;}

.modal_title:before {
  display: none;}

.modal_img {
  clip: rect(0px,400px,500,0px);
  position: absolute;
  top:0;
  width:420px;}

.modal .square {
top:auto;
width: 400px;
left:10px;}

.modal_img.pair img {
width:100%; height:50%}

.modal_content .pair img {
    width:50%;
}

.modal_content {
  color: #1f3346;
  margin: 50px 20px 10px 425px;}

.modal_content a {
  color: #359ECF;
  text-decoration: none;}

.modal_content a:hover {
  color: #30b0ea;}

.modal_button {
  background-color: #359ECF;
  border-radius: 4px;
  color: white;
  display: inline-block;
  line-height: 40px;
  margin: 0 2px;
  padding: 0px 30px;
  text-decoration: none;}

a.modal_button {
color: white;}

.modal_button:hover {
  background-color: #30b0ea;}