body {
   margin: 0;
}

a {
   color: #E74C3C;
}

.container {
   max-width: 1200px;
   margin: 0 auto;
   padding: 8px;
}


header {
   margin: 8px 8px 30px 8px;
   position: relative;
}
header div {
   height: 150px;
   width: 100%;
}
.header-backdrop  {
   /* background-image: url(banner.png);
   filter: grayscale(1) brightness(50%); */
   background-color: #171B1F;
}
.header-text {
   line-height: 150px;
   margin-top: -150px;
   position: absolute;
}
.header-text h1 {
   color: #FFF;
   font-size: 50pt;
   margin: 0;
   text-align: center;
}

nav:before {
   background-color: #E74C3C;
   content: '';
   float: left;
   margin-right: 15px;
   height: 40px;
   width: 40px;
}
nav ul {
   border-bottom: 1px solid #d0d0d0;
   box-sizing: border-box;
   line-height: 40px;
   margin: 0;
   height: 40px;
}
nav li {
   display: inline-block;
   padding: 0 .5em;
   text-transform: uppercase;
}
nav a {
   color: inherit;
   text-decoration: none;
}
nav a:hover {
   color: #E74C3C;
}

.drop:after {
   content: '';
   border: 3px solid;
   display: inline-block;
   margin-left: 5px;
   border-top-color: transparent;
   border-left-color: transparent;
   transform: rotate(45deg);
   margin-bottom: 5px;
   transition: margin 1s, transform 1s, color 0s;
}
.drop:hover:after {
   color: #E74C3C;
   transform: rotate(-135deg);
   margin-bottom: 2px;
}


#newsfeed {
   margin-bottom: 30px;
}
.feed-sidebar {
   background-color: #E74C3C;
   box-sizing: border-box;
   color: #FFF;
   float: right;
   margin: -10px 20px 0 0;
   padding: 5px;
   height: 520px;
   width: 200px;
}
.feed-sidebar:before {
   background-color: #171B1F;
   content: '';
   margin: 5px 0 0 -30px;
   position: absolute;
   z-index: -1;
   height: 500px;
   width: 245px;
}
.feed-content {
   border: 1px solid #d0d0d0;
   border-right: none;
   border-radius: 1pc 0 0 0;
   box-sizing: border-box;
   padding: 10px;
   height: 500px;
   width: calc(100% - 245px);
}

.feed-title {
   background-color: #E74C3C;
   border-radius: 1pc 0;
   color: #FFF;
   font-size: 30pt;
   margin: -11px 0 0 -11px;
   text-align: center;
   width: 300px;
}

footer {
   text-align: center;
   background-color: #171B1F;
   color: #FFF;
}

/* Items for stub pages */
.stub-content {
   border: 1px solid #d0d0d0;
   border-radius: 1pc 0 0 0;
   box-sizing: border-box;
   padding: 10px;
   height: 500px;
   width: 100%;
}

.modal_overlay {
    position: fixed;
    background: rgba(23, 27, 31, 0.6);
    top: 0;
	display: flex;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.modal{
width: 100%;
    max-width: 700px;
    height: 350px;
    margin: auto;
	}
.modal_button {
   border: none;
   box-sizing: border-box;
   color: white;
   display: inline-block;
   font-family: sans-serif;
   font-size: 15px;
   line-height: 40px;
   padding: 0 20px;
   text-decoration: none;
   height: 40px;
}

.modal .button-save {
    background: #e74c3c;
}
.modal .button-return {
    background: #171b1f;
}

.modal textarea {
    width: 100%;
    height: 100%;
}
.modal_title {
	
    color: grey;
    background: #171b1f;
    margin: 0;
    border-top: 5px solid #e74c3c;
    padding: 20px 15px;
    font-family: sans-serif;
}
.directory {
    width: 575px;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    color: white;
    direction: rtl;
    line-height: 17px;
    text-overflow: ellipsis;
}

.modal_rail {
	width: 100%;
    max-width: 700px;
    text-align: right;
	display: flex;
	justify-content: flex-end;
    margin-top: -40px;
}

@media (max-width: 800px) {
  nav li {
    padding: 0 .3em;
  }

  .feed-sidebar {
    float: none;
    margin-bottom: 20px;
    height: auto;
    width: 100%;
  }
  .feed-sidebar:before {
    display: none;
  }
  .feed-content {
    border-right: 1px solid #d0d0d0;
    width: 100%;
  }
}

@media (max-width: 600px) {
  /* .header-backdrop {
    background: #171B1F;
  } */

  nav:before {
    display: none;
  }
  nav ul {
    height: auto;
  }
  nav li {
    width: 45%;
  }
}